#g-above {
    color: $above-text-color;
    background: $above-background;
    @extend .section-paddings;
}

@media print {
    #g-above {
        background: #fff !important;
        color: #000 !important;
    }
}
