.g-imagegrid {
    *, *:before, *:after {
        box-sizing: border-box !important;
    }

    .g-imagegrid-wrapper {
        @include display(flex);
        @include flex-flow(row wrap);
        @include flex-wrap(wrap);
    }

    .g-imagegrid-item {
        @include flex(0 0 auto);
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        img {
            @include transition(all 0.35s);
            width: 100%;
            height: 100%;
        }

        .g-imagegrid-caption {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            color: transparentize($white, 50%);
            font-style: normal;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            div {
                text-align: center;
                padding: $content-padding;
            }        

            .dir-rtl & {
                margin-right: $content-padding + $content-margin;
                margin-left: auto;
            }
        }

        .indicator {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            color: transparentize($white, 50%);
            font-style: normal;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            div {
                text-align: center;
                padding: $content-padding;
                opacity: 0;
                @include transform(scale(0));
                @include transition(all 0.35s);
            }
        }

        &:hover {
            z-index: 10;

            .g-imagegrid-link:before {
                opacity: 0.85;
                @include transform(scale(1));
            }

            .indicator div {
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }

    .g-imagegrid-desc {
        margin: 1.5rem 0;
    }

    .g-imagegrid-link {
        @include display(flex);
        position: relative;
        width: 100%;
        height: 100%;
        @include transition(all 0.35s);
        @include transition(color);
        transform-style: preserve-3d;

        &:before {
            color: $white;
            content: "";
            position: absolute;
            z-index: 1;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            text-align: center;
            @include linear-gradient(to bottom, $accent-color-1, $accent-color-2);
            @include transform(scale(0));
            @include transition(all 0.35s);
        }
    }

    // Item Top Margins
    $first-item-margin: 1.5rem;
    $second-item-margin: 0;
    $third-item-margin: 2.5rem;
    $fourth-item-margin: 1.25rem;
    $fifth-item-margin: 2.25rem;

    .g-imagegrid-2cols {
        .g-imagegrid-item {
            width: 50%;

            // First Element
            &:nth-child(odd) {
                top: $first-item-margin;
            }

            // Second Element
            &:nth-child(even) {
                top: $second-item-margin;
            }

            @include breakpoint(mobile-only) {
                width: 100%;

                // First Element
                &:nth-child(odd) {
                    top: 0;
                }

                // Second Element
                &:nth-child(even) {
                    top: 0;
                }                
            }
        }
    }

    .g-imagegrid-3cols {
        .g-imagegrid-item {
            width: 33.33333%;

            // First Element
            &:nth-child(3n+1) {
                top: $first-item-margin;
            }

            // Second Element
            &:nth-child(3n+2) {
                top: $second-item-margin;
            }

            // Third Element
            &:nth-child(3n+3) {
                top: $third-item-margin;
            }    

            @include breakpoint(tablet-range) {
                width: 50%;

                // First Element
                &:nth-child(3n+1) {
                    top: 0;
                }

                // Second Element
                &:nth-child(3n+2) {
                    top: 0;
                }

                // Third Element
                &:nth-child(3n+3) {
                    top: 0;
                }                   
            }

            @include breakpoint(mobile-only) {
                width: 100%;

                // First Element
                &:nth-child(3n+1) {
                    top: 0;
                }

                // Second Element
                &:nth-child(3n+2) {
                    top: 0;
                }

                // Third Element
                &:nth-child(3n+3) {
                    top: 0;
                }                    
            }
        }
    }

    .g-imagegrid-4cols {
        .g-imagegrid-item {
            width: 25%;

            // First Element
            &:nth-child(4n+1) {
                top: $first-item-margin;
            }

            // Second Element
            &:nth-child(4n+2) {
                top: $second-item-margin;
            }

            // Third Element
            &:nth-child(4n+3) {
                top: $third-item-margin;
            }

            // Fourth Element
            &:nth-child(4n+4) {
                top: $fourth-item-margin;
            }

            @include breakpoint(tablet-range) {
                width: 50%;
                
                // First Element
                &:nth-child(4n+1) {
                    top: 0;
                }

                // Second Element
                &:nth-child(4n+2) {
                    top: 0;
                }

                // Third Element
                &:nth-child(4n+3) {
                    top: 0;
                }

                // Fourth Element
                &:nth-child(4n+4) {
                    top: 0;
                }                
            }

            @include breakpoint(mobile-only) {
                width: 100%;

                // First Element
                &:nth-child(4n+1) {
                    top: 0;
                }

                // Second Element
                &:nth-child(4n+2) {
                    top: 0;
                }

                // Third Element
                &:nth-child(4n+3) {
                    top: 0;
                }

                // Fourth Element
                &:nth-child(4n+4) {
                    top: 0;
                }  
            }
        }
    }

    .g-imagegrid-5cols {
        .g-imagegrid-item {
            width: 20%;

            // First Element
            &:nth-child(5n+1) {
                top: $first-item-margin;
            }

            // Second Element
            &:nth-child(5n+2) {
                top: $second-item-margin;
            }

            // Third Element
            &:nth-child(5n+3) {
                top: $third-item-margin;
            }

            // Fourth Element
            &:nth-child(5n+4) {
                top: $fourth-item-margin;
            }

            // Fifth Element
            &:nth-child(5n+5) {
                top: $fifth-item-margin;
            }

            @include breakpoint(tablet-range) {
                width: 33.33333%;

                // First Element
                &:nth-child(5n+1) {
                    top: 0;
                }

                // Second Element
                &:nth-child(5n+2) {
                    top: 0;
                }

                // Third Element
                &:nth-child(5n+3) {
                    top: 0;
                }

                // Fourth Element
                &:nth-child(5n+4) {
                    top: 0;
                }

                // Fifth Element
                &:nth-child(5n+5) {
                    top: 0;
                }
            }

            @include breakpoint(mobile-only) {
                width: 100%;
                
                // First Element
                &:nth-child(5n+1) {
                    top: 0;
                }

                // Second Element
                &:nth-child(5n+2) {
                    top: 0;
                }

                // Third Element
                &:nth-child(5n+3) {
                    top: 0;
                }

                // Fourth Element
                &:nth-child(5n+4) {
                    top: 0;
                }

                // Fifth Element
                &:nth-child(5n+5) {
                    top: 0;
                }                
            }
        }
    }
}
